.box {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.deleteButton,
.editButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.deleteButton:hover {
  color: red;
}

.editButton:hover {
  color: green;
}